/* Basic editor styles */
.editorContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.character-count {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 8px;
  font-size: 0.8rem;
  color: #868e96;
  border-top-left-radius: 4px;
}

.character-count span {
  margin: 0 4px;
}
