.mdx-content p,
.mdx-content ul,
.mdx-content ol,
.mdx-content li {
  color: #6f6f6f;
}

.mdx-content a,
.mdx-content strong {
  color: #000;
}

.mdx-content em {
  font-size: 14px;
  color: #000;
}

.mdx-content p {
  margin-top: 1.5rem;
}

.mdx-content ul {
  list-style-type: disc;
}

.mdx-content ol {
  list-style-type: decimal;
}
